.column-header {
  font-weight: bold;
  font-size: 20px;
}

.recipe-column-add {
  padding: 20px 50px 30px 0px;
}

.ant-card-body {
  font-weight: bold;
  font-size: 16px;
}

.ant-upload.ant-upload-select-picture-card {
  width: 50% !important;
}

.ant-form-item-control .ant-tag {
  font-size: 16px !important;
  padding: 8px !important;
}

.ant-form label {
  font-size: 16px !important;
}

.ant-upload-text {
  font-size: 16px !important;
}