.ant-card-body {
  font-weight: bold;
  font-size: 16px !important;
}

.card {
  min-height: 450px;
}

.card-image {
  object-fit: cover;
  height: 300px;
}

.recipe-title {
  font-size: 17px !important;
  padding-bottom: 10px;
}

.ant-card-body .ant-tag {
  font-size: 14px !important;
  padding: 8px !important;
  margin-bottom: 8px !important;
}