.column-header {
  font-weight: bold;
  padding-top: 20px; 
}

.column-header-options {
  font-weight: bold;
  padding: 20px 0px 10px 0px;
}

.recipe-column {
  padding: 20px 50px 30px 0px;
}

.ant-card-body {
  font-weight: bold;
  font-size: 16px;
}

.ingredients-list {
  padding: 10px 0px 10px 0px;
}

.portion-input {
  padding: 10px 0px 20px 0px;
}

.diet-kind-checkbox {
  font-size: 32px;
}

.gallery {
  padding-top: 20px; 
}

.styles_wrapper__1kG3C {
  min-height: 100vh;
  padding: 0 !important;
  background: #ffffff !important;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.styles_gridItem__nPXhF figcaption {
  display: none !important;
}

.ant-btn {
  height: 50px;
  padding: 0 28px;
  font-size: 18px;
}

.button-container {
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

.ant-message {
  font-size: 18px !important;
}

.recipe-description {
  text-align: justify;
  font-weight: initial;
}

.recipe-ingredients {
  padding-right: 80px;
}

.rate {
  padding-top: 10px; 
  padding-bottom: 10px;
}

.ingredients-title {
  font-weight: bold;
  font-size: 16px;
  padding-top: 8px;
}

.ingredients-list .ant-list-item-meta-title {
  font-size: 16px;
}

.ingredients-list .item-quantity {
  font-size: 16px;
}

.ant-radio-wrapper {
  font-size: 16px !important;
}

.sales-column .ant-list-item-meta-title {
  font-size: 16px ;
}