.column-header {
    font-weight: bold;
  }
  
  .sale-image {
    padding: 20px 50px 30px 0px;
  }

  .sales-list {
    padding: 20px 50px 30px 0px;
  }

  .sales-list .ant-list-item-meta-title {
    font-size: 18px;
  }

  .sales-list .item-price {
    font-size: 16px;
  }